
.img {
    align-self: left;
    margin-right: 20px;
    margin-top: 10px;
    margin-top: 20px;
    text-align: left;
}

.text{
    text-align: right;
}
.text-container {
    margin-left: 20px;
    text-align: right;
}

  